*{
    padding: 0;
    margin: 0;
    font-family: century gothic;
    color: black;
    text-decoration: none;
    text-align: center;
}
.Turismoenbarú {
padding: 40px;
}
nav ul {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    list-style-type: none;
    background-color: #d68aed;
}
nav li {
    display: inline-flex;
}
nav a{ 
    padding: 20px;
    width: 150px;
}
nav ul a:hover {
    background-color: white;
}

@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
 